body {
  margin: 0;
  background-color: rgb(238, 228, 211);
  position: relative;
}

h1 {
  font-size: 3rem;
  display: inline-block;
}


.header {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;

}


.book-image {
  width: 10vw;
  min-width: 85px;
  max-width: 130px;
  display: inline-block;
  margin: 0 40px 0 30px;
}






/******** New Book Button Section ********/

.new-book-button {
  padding: 15px 32px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
  background-color: #008CBA;
  font-size: 1.2rem;
  cursor: pointer;
}
.new-book-button:hover {
  border: 1px solid #008CBA;
  color: #008CBA;
  background-color: rgba(255, 255, 255, 0);

}


.book-button-div {
  width: 100%;
  display: flex;
}





/******** New Book Form Section ********/

.form-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  /* align-items: center; */
  display: none;
  z-index: 1;
}

.new-book-form {
  border: 2px solid black;
  padding: 60px 30px;
  background-color: white;
  position: relative;
  height: 300px;
  margin-top: 100px;
}

.form-header {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}


.close-button {
  position: absolute;
  right: 10px;
  transform: rotate(45deg);
  top: 3px;
  font-size: 1.5rem;
  cursor: pointer;

}
.close-button:hover {
  font-size: 1.8rem;
}

table {
  border-spacing: 0 10px;
}

.form-label {
  text-align: right;
 
}


.form-buttons {
  margin-top: 10px;
  width: 100%;
  text-align: center;

}


.cancel {
  margin-left: 10px;
}





/******** Card Section ********/

.library {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 30px;
  justify-content: flex-start;

}


.book {
  border: 1px solid black;
  /* align-items: center; */
  width: 200px;
  height: 300px;
  margin: 0 20px 20px 0;
  position: relative;
  text-align: center;

}

.card-section {
  margin: 5px 0 10px 0;
}


.title {
  min-height: 60px;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.author {
  font-size: 1.3rem;
}


.pages {
  padding-top: 25px;
  
}



.change-read {
  width: 100%;
  display: flex;
  justify-content: center;
}

.already-read {
  background-color: yellow;

}

.not-read {
  background-color: #e7e7e7;
}


@media  screen and (max-width: 450px) {

  h1 {
    font-size: 2rem;
  }

  .library {
    justify-content: center;
  }

  .new-book-button {
    margin: 20px 0;

  }

  .book {
    margin: 0 0 20px 0;

  }


  table {
    border-spacing: 0 2px;
  }


  .book-button-div {
    justify-content: center;
  }
}