body {
  margin: 0;
  background-color: rgb(243, 227, 197);
  position: relative;
}

h1 {
  font-size: 3rem;
  display: inline-block;
}


.header {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.book-image {
  width: 10vw;
  display: inline-block;
  margin-left: 30px;
}


.library {
  /* border: 1px solid cyan; */
  display: flex;
  flex: row;
  flex-wrap: wrap;
  /* padding: 30px 0 0 30px; */
  margin-top: 20px;
  padding-left: 20px;

}

.new-book-button {
  padding: 15px 32px;
  margin: 20px 0 20px 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
  background-color: #008CBA;
  font-size: 1.2rem;
}
.new-book-button:hover {
  /* border-color: rgba(255, 255, 255, 1); */

  border: 1px solid #008CBA;
  color: #008CBA;
  background-color: rgba(255, 255, 255, 0);

}

.new-book-form {
  border: 2px solid black;
  padding: 60px 30px;
  background-color: white;
  position: relative;
  height: 300px;
  margin-top: 100px;
}






.close-button {
  position: absolute;
  right: 10px;
  transform: rotate(45deg);
  top: 3px;
  font-size: 1.5rem;
  cursor: pointer;

}
.close-button:hover {
  font-size: 1.8rem;
}

td {
  padding: 5px;
}

.buttons {
  margin-top: 10px;
  width: 100%;
  text-align: center;

}

.form-label {
  text-align: right;
  /* margin-bottom: 30px; */
  
}

.cancel {
  margin-left: 10px;
}


.form-header {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}






.section {
  margin-bottom: 10px;
}


.title {
  /* border: 1px solid purple; */
  text-align: center;
  /* width: 100%; */
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.author {
  /* border: 1px slid green; */
  text-align: center;
  /* width: 100%; */
  font-size: 1.2rem;
  /* font-weight: bold; */
}





.pages {
  /* border: 1px solid red; */
}

.have-read {
  /* border: 1px solid blue; */
}


.book {
  border: 1px solid black;
  /* background-color: yellow; */
  align-items: center;
  width: 200px;
  height: 300px;
  /* padding: 10px 0; */
  margin: 0 20px 20px 0;
  position: relative;



}


.already-read {
  background-color: yellow;

}


.not-read {
  background-color: #e7e7e7;
}


.div {
  text-align: center;
}


.form-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  /* align-items: center; */
  display: none;
  z-index: 1;
}

.delete {
  position: absolute;
  bottom: 5px;
  right: 0;
  /* border-radius: 10px; */
  padding: 0.3rem 0.7rem;
}




.wrap {
  display: flex;
  flex-direction: row;
}



table {
  border-spacing: 0 10px;
}