body {
  margin: 0;
}

h1 {
  font-size: 3rem;
  display: inline-block;
}


.headerDiv {
  border: 1px solid black;
  display: flex;
  align-items: center;

}


.bookImage {
  width: 13vw;
  display: inline-block;
  margin-right: 30px;
}


.library {
  border: 1px solid cyan;
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

.newBook {
  position: absolute;
  bottom: 20px;
}

.newBookForm {
  border: 2px solid black;
  padding: 40px;
  background-color: white;
  position: relative;
}






.close {
  position: absolute;
  right: 15px;
  transform: rotate(45deg);
  top: 5px;
  font-size: 1.5rem;
  cursor: pointer;

}

td {
  padding: 5px;
}

.buttons {
  margin-top: 10px;
  width: 100%;
  text-align: center;

}

.form-label {
  text-align: right;
  
}

.cancel {
  margin-left: 10px;
}







.section {
  margin-bottom: 10px;
}


.title {
  border: 1px solid purple;
  text-align: center;
  /* width: 100%; */
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.author {
  border: 1px slid green;
  text-align: center;
  /* width: 100%; */
  font-size: 1.2rem;
  /* font-weight: bold; */
}





.pages {
  border: 1px solid red;
}

.haveRead {
  border: 1px solid blue;
}


.book {
  border: 1px solid black;
  /* background-color: yellow; */
  align-items: center;
  min-width: 200px;
  max-width: 300px;
  height: 300px;
  /* padding: 10px 0; */
  margin:10px 20px 0 0;
  position: relative;



}


.alreadyRead {
  background-color: yellow;

}


.notYetRead {
  background-color: gray;
}


.div {
  text-align: center;
}


.form-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.delete {
  position: absolute;
  bottom: 5px;
  right: 0;
  /* border-radius: 10px; */
  padding: 0.3rem 0.7rem;
}